---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<BaseLayout
  title={`${t("about.title")} | ${t("title")}`}
  description={t("about.description")}
>
  <div class="stack gap-20">
    <header>
      <div class="wrapper stack gap-2">
        <a class="back-link" href={translatePath("/")}>
          <Icon icon="arrow-left" />
          {t("home")}
        </a>
      </div>
    </header>

    <main class="wrapper about">
      <Hero title={t("about.title")} tagline={t("about.description")}>
        <img src="/assets/川西雪山背影.jpg" alt="川西雪山背影" />
        <div class="img-container">
          <img width="50%" src="/assets/云华山搞怪.png" alt="云华山搞怪" />
          <img
            width="50%"
            src="/assets/at-work.jpg"
            alt={t("about.imageAlt")}
          />
        </div>
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>{t("comingSoon")}</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>{t("comingSoon")}</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>{t("comingSoon")}</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .img-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    object-fit: cover;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .back-link,
  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .back-link:hover,
  .back-link:focus,
  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .back-link {
      display: block;
      align-self: flex-start;
    }

    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
