---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const nowMarkdown = await Astro.glob("../content/now/*.md");
const NowMarkdownContent = nowMarkdown.find(({ file }) =>
  file.endsWith(`${lang}.md`)
)?.Content;
---

<BaseLayout
  title={`${t("now.title")} | ${t("title")}`}
  description={t("now.description")}
>
  <div class="now-content">
    {
      NowMarkdownContent ? (
        <NowMarkdownContent />
      ) : (
        <div>
          Not find now content, go
          <a href="/now">default language version</a>
        </div>
      )
    }
  </div>
</BaseLayout>

<style>
  .now-content {
    /* max-width: 30rem; */
    margin: 0 auto;
    margin-bottom: 1rem;

    h1,
    h2,
    h3 {
      font-size: 2rem;
      margin: 1rem 0;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
</style>
