---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import { Content as NowMarkdown } from "./_now.md";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout
  title={`${t("now.title")} | ${t("title")}`}
  description={t("now.description")}
>
  <div class="now-content">
    <!-- {nowMarkdown.Content} -->
    <NowMarkdown class="now-content" />
  </div>
</BaseLayout>

<style>
  .now-content {
    /* max-width: 30rem; */
    margin: 0 auto;
    margin-bottom: 1rem;

    h1,
    h2,
    h3 {
      font-size: 2rem;
      margin: 1rem 0;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
</style>
