---
import { iconLinks } from "../content/data";
import Icon from "./Icon.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="socials">
    {
      iconLinks.map(({ href, icon, label }) => (
        <a href={href} class="social">
          <span class="sr-only">{label}</span>
          <Icon icon={icon} />
        </a>
      ))
    }
  </div>

  <div class="group">
    <p>
      Designed & Developed with <a href="https://astro.build/">Astro</a>
      <Icon icon="rocket-launch" size="1.2em" />
    </p>
    <p>&copy; {currentYear} Leo Wang</p>
  </div>
</footer>

<style>
  footer {
    --icon-size: var(--text-xl);

    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    font-size: var(--icon-size);
    justify-content: center;
  }

  .social {
    display: flex;
    padding: var(--icon-padding);
    text-decoration: none;
    color: var(--accent-dark);
    transition: color var(--theme-transition);
  }

  .social:hover,
  .social:focus {
    color: var(--accent-text-over);
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
</style>
