---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const url = Astro.url.pathname.replace(/^\/(en|zh-cn|zh-tw)/, "");
---

<div class="language-picker">
  <ul>
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a href={translatePath(url, lang)}>{label}</a>
        </li>
      ))
    }
  </ul>
</div>
