---
import Icon from "./Icon.astro";

interface Props {
  tweetText: string;
  via?: string;
  hashtags?: string;
}

const { tweetText, via, hashtags } = Astro.props;
---

<div class="share">
  <h3 class="share-title">Share Content</h3>

  <div class="">
    <a
      id="share-x"
      href={`https://x.com/intent/tweet?text=${encodeURIComponent(tweetText)}&url=#&via=${encodeURIComponent(via || "")}&hashtags=${encodeURIComponent(hashtags || "")}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">share_to_twitter</span>
      <Icon icon="x-logo" size="24px" />
    </a>
    <a
      id="share-mastodon"
      href={`https://mastodon.social/share?text=${encodeURIComponent(tweetText)}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">share_to_mastodon</span>
      <Icon icon="mastodon-logo" size="24px" />
    </a>
    <a
      id="share-bluesky"
      href={`https://bsky.app/intent/compose?text=${encodeURIComponent(tweetText)}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">share_to_bluesky</span>
      <Icon icon="bluesky-logo" size="24px" />
    </a>
  </div>
</div>

<script>
  const share = new URLSearchParams(window.location.search).has("share");

  const shareElement: HTMLDivElement | null = document.querySelector(".share");

  if (share) {
    shareElement?.classList.add("show");
  } else {
    shareElement?.classList.remove("show");
  }

  // replace url with current url
  const shareX = document.getElementById("share-x") as HTMLLinkElement;
  shareX?.setAttribute(
    "href",
    shareX?.href.replace(
      /url=.+&/,
      `url=${encodeURIComponent(window.location.href)}&`
    )
  );
</script>

<style>
  .share {
    display: none;
  }

  .share-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  .share.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid var(--gray-800);
    padding: 2rem;
  }
</style>
