---
import BaseLayout from "./BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = (await getCollection("work"))
  .filter(({ slug }) => slug.startsWith(lang))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout
  title={`${t("work.title")} | ${t("title")}`}
  description={t("work.description")}
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title={t("work.title")} tagline={t("work.tagline")} align="start" />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
